{% extends "base.html" %}
{% block main %}
  <!--=============== BREADCRUMB ===============-->
  {% include "components/path.html" %}

  <!--=============== DETAILS ===============-->
  {% include "components/details.html" %}

  <!--=============== DETAILS TAB ===============-->
  {% include "components/details-tab.html" %}

  <!--=============== PRODUCTS ===============-->
  {% include "components/products.html" %}

  <!--=============== NEWSLETTER ===============-->
  {% include "components/letter.html" %}
{% endblock main %}
