{% extends "base.html" %}
{% block main %}
    <!--=============== HOME ===============-->
    {% include "components/home.html" %}

    <!--=============== CATEGORIES ===============-->
    {% include "components/category.html" %}

    <!--=============== PRODUCTS ===============-->
    {% include "components/products.html" %}

    <!--=============== DEALS ===============-->
    {% include "components/deals.html" %}

    <!--=============== NEW ARRIVALS ===============-->
    {% include "components/new_arrivels.html" %}

    <!--=============== SHOWCASE ===============-->
    {% include "components/showcase.html" %}

    <!--=============== NEWSLETTER ===============-->
    {% include "components/letter.html" %}
{% endblock main %}
