<section class="cart section--lg container">
  <div class="table__container">
    <table class="table">
      <thead>
        <tr>
          <th>Image</th>
          <th>Name</th>
          <th>Price</th>
          <th>Quantity</th>
          <th>Subtotal</th>
          <th>Rename</th>
        </tr>
      </thead>
      <tbody>
        {% for product in products.products %}
        <tr>
          <td>
            <img
              src="{{ product.data.image.url }}"
              alt=""
              class="table__img"
            />
          </td>
          <td>
            <h3 class="table__title">{{ product.data.name }}</h3>
            <p class="table__description">
              {{ product.data.description | truncatewords:3 }}
            </p>
          </td>
          <td>
            {% if product.data.discount > 0 %}
            <span class="table__price">${{product.data.discount_price}}</span>
            <span class="old__price">&nbsp;{{ product.data.price }}</span>
            {% else %}
            <span class="table__price">{{ product.data.price }}</span>
            {% endif %}
          </td>
          <td><input type="number" value="{{ product.quantity }}" class="quantity" readonly/></td>
          <td><span class="subtotal">{{ product.total }}</span></td>
          <td><a href="{% url 'remove_cart_item' product.data.id %}"><i class="fi fi-rs-trash table__trash"></i></a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <div class="cart__actions">
    <a href="{% url 'shop' %}" class="btn flex btn__md">
      <i class="fi-rs-shopping-bag"></i> Continue Shopping
    </a>
  </div>

  <div class="divider">
    <i class="fi fi-rs-fingerprint"></i>
  </div>

  <div class="cart__group grid">

    <div class="cart__total">
      <h3 class="section__title">Cart Totals</h3>
      <table class="cart__total-table">
        <tr>
          <td><span class="cart__total-title">Total without discount</span></td>
          <td><span class="cart__total-price old__price">${{products.total_price}}</span></td>
        </tr>
        <tr>
          <td><span class="cart__total-title">Profit</span></td>
          <td><span class="cart__total-price">${{products.profit}}</span></td>
        </tr>
        <tr>
          <td><span class="cart__total-title">Total</span></td>
          <td><span class="cart__total-price">${{products.total_with_discount}}</span></td>
        </tr>
      </table>
      <a href="{% url 'checkout' %}" class="btn flex btn--md">
        <i class="fi fi-rs-box-alt"></i> Proceed To Checkout
      </a>
    </div>
  </div>
</section>
