{% load static %}
<section class="home section--lg">
    <div class="home__container container grid">
        <div class="home__content">
            <span class="home__subtitle">Hot Promotions</span>
            <h1 class="home__title">
              Fashion Trending <span>Great Collection</span>
            </h1>
            <p class="home__description">
              Save more with coupons & up tp 20% off
            </p>
            <a href="shop.html" class="btn">Shop Now</a>
        </div>
        <img src="{% static 'assets/img/home-img.png' %}" class="home__img" alt="hats" />
    </div>
</section>