<section class="products container section">
  <div class="tab__btns">
    <span class="tab__btn active-tab" data-target="#featured">Featured</span>
    <span class="tab__btn" data-target="#popular">Popular</span>
    <span class="tab__btn" data-target="#new-added">New Added</span>
  </div>

  <div class="tab__items">
    <div class="tab__item active-tab" content id="featured">
      <div class="products__container grid">
        <div class="product__item">
          <div class="product__banner">
            <a href="details.html" class="product__images">
              <img
                src="assets/img/product-1-1.jpg"
                alt=""
                class="product__img default"
              />
              <img
                src="assets/img/product-1-2.jpg"
                alt=""
                class="product__img hover"
              />
            </a>
            <div class="product__actions">
              <a href="#" class="action__btn" aria-label="Quick View">
                <i class="fi fi-rs-eye"></i>
              </a>
              <a href="#" class="action__btn" aria-label="Add to Wishlist">
                <i class="fi fi-rs-heart"></i>
              </a>
              <a href="#" class="action__btn" aria-label="Compare">
                <i class="fi fi-rs-shuffle"></i>
              </a>
            </div>
            <div class="product__badge light-pink">Hot</div>
          </div>
          <div class="product__content">
            <span class="product__category">Clothing</span>
            <a href="details.html">
              <h3 class="product__title">Colorful Pattern Shirts</h3>
            </a>
            <div class="product__rating">
              <i class="fi fi-rs-star"></i>
              <i class="fi fi-rs-star"></i>
              <i class="fi fi-rs-star"></i>
              <i class="fi fi-rs-star"></i>
              <i class="fi fi-rs-star"></i>
            </div>
            <div class="product__price flex">
              <span class="new__price">$238.85</span>
              <span class="old__price">$245.8</span>
            </div>
            <a href="#" class="action__btn cart__btn" aria-label="Add To Cart">
              <i class="fi fi-rs-shopping-bag-add"></i>
            </a>
          </div>
        </div>
        <div class="product__item">
          <div class="product__banner">
            <a href="details.html" class="product__images">
              <img
                src="assets/img/product-2-1.jpg"
                alt=""
                class="product__img default"
              />
              <img
                src="assets/img/product-2-2.jpg"
                alt=""
                class="product__img hover"
              />
            </a>
            <div class="product__actions">
              <a href="#" class="action__btn" aria-label="Quick View">
                <i class="fi fi-rs-eye"></i>
              </a>
              <a href="#" class="action__btn" aria-label="Add to Wishlist">
                <i class="fi fi-rs-heart"></i>
              </a>
              <a href="#" class="action__btn" aria-label="Compare">
                <i class="fi fi-rs-shuffle"></i>
              </a>
            </div>
            <div class="product__badge light-green">Hot</div>
          </div>
          <div class="product__content">
            <span class="product__category">Clothing</span>
            <a href="details.html">
              <h3 class="product__title">Colorful Pattern Shirts</h3>
            </a>
            <div class="product__rating">
              <i class="fi fi-rs-star"></i>
              <i class="fi fi-rs-star"></i>
              <i class="fi fi-rs-star"></i>
              <i class="fi fi-rs-star"></i>
              <i class="fi fi-rs-star"></i>
            </div>
            <div class="product__price flex">
              <span class="new__price">$238.85</span>
              <span class="old__price">$245.8</span>
            </div>
            <a href="#" class="action__btn cart__btn" aria-label="Add To Cart">
              <i class="fi fi-rs-shopping-bag-add"></i>
            </a>
          </div>
        </div>
        <div class="product__item">
          <div class="product__banner">
            <a href="details.html" class="product__images">
              <img
                src="assets/img/product-3-1.jpg"
                alt=""
                class="product__img default"
              />
              <img
                src="assets/img/product-3-2.jpg"
                alt=""
                class="product__img hover"
              />
            </a>
            <div class="product__actions">
              <a href="#" class="action__btn" aria-label="Quick View">
                <i class="fi fi-rs-eye"></i>
              </a>
              <a href="#" class="action__btn" aria-label="Add to Wishlist">
                <i class="fi fi-rs-heart"></i>
              </a>
              <a href="#" class="action__btn" aria-label="Compare">
                <i class="fi fi-rs-shuffle"></i>
              </a>
            </div>
            <div class="product__badge light-orange">Hot</div>
          </div>
          <div class="product__content">
            <span class="product__category">Clothing</span>
            <a href="details.html">
              <h3 class="product__title">Colorful Pattern Shirts</h3>
            </a>
            <div class="product__rating">
              <i class="fi fi-rs-star"></i>
              <i class="fi fi-rs-star"></i>
              <i class="fi fi-rs-star"></i>
              <i class="fi fi-rs-star"></i>
              <i class="fi fi-rs-star"></i>
            </div>
            <div class="product__price flex">
              <span class="new__price">$238.85</span>
              <span class="old__price">$245.8</span>
            </div>
            <a href="#" class="action__btn cart__btn" aria-label="Add To Cart">
              <i class="fi fi-rs-shopping-bag-add"></i>
            </a>
          </div>
        </div>
        <div class="product__item">
          <div class="product__banner">
            <a href="details.html" class="product__images">
              <img
                src="assets/img/product-4-1.jpg"
                alt=""
                class="product__img default"
              />
              <img
                src="assets/img/product-4-2.jpg"
                alt=""
                class="product__img hover"
              />
            </a>
            <div class="product__actions">
              <a href="#" class="action__btn" aria-label="Quick View">
                <i class="fi fi-rs-eye"></i>
              </a>
              <a href="#" class="action__btn" aria-label="Add to Wishlist">
                <i class="fi fi-rs-heart"></i>
              </a>
              <a href="#" class="action__btn" aria-label="Compare">
                <i class="fi fi-rs-shuffle"></i>
              </a>
            </div>
            <div class="product__badge light-blue">Hot</div>
          </div>
          <div class="product__content">
            <span class="product__category">Clothing</span>
            <a href="details.html">
              <h3 class="product__title">Colorful Pattern Shirts</h3>
            </a>
            <div class="product__rating">
              <i class="fi fi-rs-star"></i>
              <i class="fi fi-rs-star"></i>
              <i class="fi fi-rs-star"></i>
              <i class="fi fi-rs-star"></i>
              <i class="fi fi-rs-star"></i>
            </div>
            <div class="product__price flex">
              <span class="new__price">$238.85</span>
              <span class="old__price">$245.8</span>
            </div>
            <a href="#" class="action__btn cart__btn" aria-label="Add To Cart">
              <i class="fi fi-rs-shopping-bag-add"></i>
            </a>
          </div>
        </div>
        <div class="product__item">
          <div class="product__banner">
            <a href="details.html" class="product__images">
              <img
                src="assets/img/product-5-1.jpg"
                alt=""
                class="product__img default"
              />
              <img
                src="assets/img/product-5-2.jpg"
                alt=""
                class="product__img hover"
              />
            </a>
            <div class="product__actions">
              <a href="#" class="action__btn" aria-label="Quick View">
                <i class="fi fi-rs-eye"></i>
              </a>
              <a href="#" class="action__btn" aria-label="Add to Wishlist">
                <i class="fi fi-rs-heart"></i>
              </a>
              <a href="#" class="action__btn" aria-label="Compare">
                <i class="fi fi-rs-shuffle"></i>
              </a>
            </div>
            <div class="product__badge light-blue">-30%</div>
          </div>
          <div class="product__content">
            <span class="product__category">Clothing</span>
            <a href="details.html">
              <h3 class="product__title">Colorful Pattern Shirts</h3>
            </a>
            <div class="product__rating">
              <i class="fi fi-rs-star"></i>
              <i class="fi fi-rs-star"></i>
              <i class="fi fi-rs-star"></i>
              <i class="fi fi-rs-star"></i>
              <i class="fi fi-rs-star"></i>
            </div>
            <div class="product__price flex">
              <span class="new__price">$238.85</span>
              <span class="old__price">$245.8</span>
            </div>
            <a href="#" class="action__btn cart__btn" aria-label="Add To Cart">
              <i class="fi fi-rs-shopping-bag-add"></i>
            </a>
          </div>
        </div>
        <div class="product__item">
          <div class="product__banner">
            <a href="details.html" class="product__images">
              <img
                src="assets/img/product-6-1.jpg"
                alt=""
                class="product__img default"
              />
              <img
                src="assets/img/product-6-2.jpg"
                alt=""
                class="product__img hover"
              />
            </a>
            <div class="product__actions">
              <a href="#" class="action__btn" aria-label="Quick View">
                <i class="fi fi-rs-eye"></i>
              </a>
              <a href="#" class="action__btn" aria-label="Add to Wishlist">
                <i class="fi fi-rs-heart"></i>
              </a>
              <a href="#" class="action__btn" aria-label="Compare">
                <i class="fi fi-rs-shuffle"></i>
              </a>
            </div>
            <div class="product__badge light-blue">-22%</div>
          </div>
          <div class="product__content">
            <span class="product__category">Clothing</span>
            <a href="details.html">
              <h3 class="product__title">Colorful Pattern Shirts</h3>
            </a>
            <div class="product__rating">
              <i class="fi fi-rs-star"></i>
              <i class="fi fi-rs-star"></i>
              <i class="fi fi-rs-star"></i>
              <i class="fi fi-rs-star"></i>
              <i class="fi fi-rs-star"></i>
            </div>
            <div class="product__price flex">
              <span class="new__price">$238.85</span>
              <span class="old__price">$245.8</span>
            </div>
            <a href="#" class="action__btn cart__btn" aria-label="Add To Cart">
              <i class="fi fi-rs-shopping-bag-add"></i>
            </a>
          </div>
        </div>
        <div class="product__item">
          <div class="product__banner">
            <a href="details.html" class="product__images">
              <img
                src="assets/img/product-7-1.jpg"
                alt=""
                class="product__img default"
              />
              <img
                src="assets/img/product-7-2.jpg"
                alt=""
                class="product__img hover"
              />
            </a>
            <div class="product__actions">
              <a href="#" class="action__btn" aria-label="Quick View">
                <i class="fi fi-rs-eye"></i>
              </a>
              <a href="#" class="action__btn" aria-label="Add to Wishlist">
                <i class="fi fi-rs-heart"></i>
              </a>
              <a href="#" class="action__btn" aria-label="Compare">
                <i class="fi fi-rs-shuffle"></i>
              </a>
            </div>
            <div class="product__badge light-green">-22%</div>
          </div>
          <div class="product__content">
            <span class="product__category">Clothing</span>
            <a href="details.html">
              <h3 class="product__title">Colorful Pattern Shirts</h3>
            </a>
            <div class="product__rating">
              <i class="fi fi-rs-star"></i>
              <i class="fi fi-rs-star"></i>
              <i class="fi fi-rs-star"></i>
              <i class="fi fi-rs-star"></i>
              <i class="fi fi-rs-star"></i>
            </div>
            <div class="product__price flex">
              <span class="new__price">$238.85</span>
              <span class="old__price">$245.8</span>
            </div>
            <a href="#" class="action__btn cart__btn" aria-label="Add To Cart">
              <i class="fi fi-rs-shopping-bag-add"></i>
            </a>
          </div>
        </div>
        <div class="product__item">
          <div class="product__banner">
            <a href="details.html" class="product__images">
              <img
                src="assets/img/product-8-1.jpg"
                alt=""
                class="product__img default"
              />
              <img
                src="assets/img/product-8-2.jpg"
                alt=""
                class="product__img hover"
              />
            </a>
            <div class="product__actions">
              <a href="#" class="action__btn" aria-label="Quick View">
                <i class="fi fi-rs-eye"></i>
              </a>
              <a href="#" class="action__btn" aria-label="Add to Wishlist">
                <i class="fi fi-rs-heart"></i>
              </a>
              <a href="#" class="action__btn" aria-label="Compare">
                <i class="fi fi-rs-shuffle"></i>
              </a>
            </div>
          </div>
          <div class="product__content">
            <span class="product__category">Clothing</span>
            <a href="details.html">
              <h3 class="product__title">Colorful Pattern Shirts</h3>
            </a>
            <div class="product__rating">
              <i class="fi fi-rs-star"></i>
              <i class="fi fi-rs-star"></i>
              <i class="fi fi-rs-star"></i>
              <i class="fi fi-rs-star"></i>
              <i class="fi fi-rs-star"></i>
            </div>
            <div class="product__price flex">
              <span class="new__price">$238.85</span>
              <span class="old__price">$245.8</span>
            </div>
            <a href="#" class="action__btn cart__btn" aria-label="Add To Cart">
              <i class="fi fi-rs-shopping-bag-add"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="tab__item" content id="popular">
      <div class="products__container grid">
        <div class="product__item">
          <div class="product__banner">
            <a href="details.html" class="product__images">
              <img
                src="assets/img/product-9-1.jpg"
                alt=""
                class="product__img default"
              />
              <img
                src="assets/img/product-9-2.jpg"
                alt=""
                class="product__img hover"
              />
            </a>
            <div class="product__actions">
              <a href="#" class="action__btn" aria-label="Quick View">
                <i class="fi fi-rs-eye"></i>
              </a>
              <a href="#" class="action__btn" aria-label="Add to Wishlist">
                <i class="fi fi-rs-heart"></i>
              </a>
              <a href="#" class="action__btn" aria-label="Compare">
                <i class="fi fi-rs-shuffle"></i>
              </a>
            </div>
            <div class="product__badge light-pink">Hot</div>
          </div>
          <div class="product__content">
            <span class="product__category">Clothing</span>
            <a href="details.html">
              <h3 class="product__title">Colorful Pattern Shirts</h3>
            </a>
            <div class="product__rating">
              <i class="fi fi-rs-star"></i>
              <i class="fi fi-rs-star"></i>
              <i class="fi fi-rs-star"></i>
              <i class="fi fi-rs-star"></i>
              <i class="fi fi-rs-star"></i>
            </div>
            <div class="product__price flex">
              <span class="new__price">$238.85</span>
              <span class="old__price">$245.8</span>
            </div>
            <a href="#" class="action__btn cart__btn" aria-label="Add To Cart">
              <i class="fi fi-rs-shopping-bag-add"></i>
            </a>
          </div>
        </div>
        <div class="product__item">
          <div class="product__banner">
            <a href="details.html" class="product__images">
              <img
                src="assets/img/product-2-1.jpg"
                alt=""
                class="product__img default"
              />
              <img
                src="assets/img/product-2-2.jpg"
                alt=""
                class="product__img hover"
              />
            </a>
            <div class="product__actions">
              <a href="#" class="action__btn" aria-label="Quick View">
                <i class="fi fi-rs-eye"></i>
              </a>
              <a href="#" class="action__btn" aria-label="Add to Wishlist">
                <i class="fi fi-rs-heart"></i>
              </a>
              <a href="#" class="action__btn" aria-label="Compare">
                <i class="fi fi-rs-shuffle"></i>
              </a>
            </div>
            <div class="product__badge light-green">Hot</div>
          </div>
          <div class="product__content">
            <span class="product__category">Clothing</span>
            <a href="details.html">
              <h3 class="product__title">Colorful Pattern Shirts</h3>
            </a>
            <div class="product__rating">
              <i class="fi fi-rs-star"></i>
              <i class="fi fi-rs-star"></i>
              <i class="fi fi-rs-star"></i>
              <i class="fi fi-rs-star"></i>
              <i class="fi fi-rs-star"></i>
            </div>
            <div class="product__price flex">
              <span class="new__price">$238.85</span>
              <span class="old__price">$245.8</span>
            </div>
            <a href="#" class="action__btn cart__btn" aria-label="Add To Cart">
              <i class="fi fi-rs-shopping-bag-add"></i>
            </a>
          </div>
        </div>
        <div class="product__item">
          <div class="product__banner">
            <a href="details.html" class="product__images">
              <img
                src="assets/img/product-10-1.jpg"
                alt=""
                class="product__img default"
              />
              <img
                src="assets/img/product-10-2.jpg"
                alt=""
                class="product__img hover"
              />
            </a>
            <div class="product__actions">
              <a href="#" class="action__btn" aria-label="Quick View">
                <i class="fi fi-rs-eye"></i>
              </a>
              <a href="#" class="action__btn" aria-label="Add to Wishlist">
                <i class="fi fi-rs-heart"></i>
              </a>
              <a href="#" class="action__btn" aria-label="Compare">
                <i class="fi fi-rs-shuffle"></i>
              </a>
            </div>
            <div class="product__badge light-orange">Hot</div>
          </div>
          <div class="product__content">
            <span class="product__category">Clothing</span>
            <a href="details.html">
              <h3 class="product__title">Colorful Pattern Shirts</h3>
            </a>
            <div class="product__rating">
              <i class="fi fi-rs-star"></i>
              <i class="fi fi-rs-star"></i>
              <i class="fi fi-rs-star"></i>
              <i class="fi fi-rs-star"></i>
              <i class="fi fi-rs-star"></i>
            </div>
            <div class="product__price flex">
              <span class="new__price">$238.85</span>
              <span class="old__price">$245.8</span>
            </div>
            <a href="#" class="action__btn cart__btn" aria-label="Add To Cart">
              <i class="fi fi-rs-shopping-bag-add"></i>
            </a>
          </div>
        </div>
        <div class="product__item">
          <div class="product__banner">
            <a href="details.html" class="product__images">
              <img
                src="assets/img/product-4-1.jpg"
                alt=""
                class="product__img default"
              />
              <img
                src="assets/img/product-4-2.jpg"
                alt=""
                class="product__img hover"
              />
            </a>
            <div class="product__actions">
              <a href="#" class="action__btn" aria-label="Quick View">
                <i class="fi fi-rs-eye"></i>
              </a>
              <a href="#" class="action__btn" aria-label="Add to Wishlist">
                <i class="fi fi-rs-heart"></i>
              </a>
              <a href="#" class="action__btn" aria-label="Compare">
                <i class="fi fi-rs-shuffle"></i>
              </a>
            </div>
            <div class="product__badge light-blue">Hot</div>
          </div>
          <div class="product__content">
            <span class="product__category">Clothing</span>
            <a href="details.html">
              <h3 class="product__title">Colorful Pattern Shirts</h3>
            </a>
            <div class="product__rating">
              <i class="fi fi-rs-star"></i>
              <i class="fi fi-rs-star"></i>
              <i class="fi fi-rs-star"></i>
              <i class="fi fi-rs-star"></i>
              <i class="fi fi-rs-star"></i>
            </div>
            <div class="product__price flex">
              <span class="new__price">$238.85</span>
              <span class="old__price">$245.8</span>
            </div>
            <a href="#" class="action__btn cart__btn" aria-label="Add To Cart">
              <i class="fi fi-rs-shopping-bag-add"></i>
            </a>
          </div>
        </div>
        <div class="product__item">
          <div class="product__banner">
            <a href="details.html" class="product__images">
              <img
                src="assets/img/product-5-1.jpg"
                alt=""
                class="product__img default"
              />
              <img
                src="assets/img/product-5-2.jpg"
                alt=""
                class="product__img hover"
              />
            </a>
            <div class="product__actions">
              <a href="#" class="action__btn" aria-label="Quick View">
                <i class="fi fi-rs-eye"></i>
              </a>
              <a href="#" class="action__btn" aria-label="Add to Wishlist">
                <i class="fi fi-rs-heart"></i>
              </a>
              <a href="#" class="action__btn" aria-label="Compare">
                <i class="fi fi-rs-shuffle"></i>
              </a>
            </div>
            <div class="product__badge light-blue">-30%</div>
          </div>
          <div class="product__content">
            <span class="product__category">Clothing</span>
            <a href="details.html">
              <h3 class="product__title">Colorful Pattern Shirts</h3>
            </a>
            <div class="product__rating">
              <i class="fi fi-rs-star"></i>
              <i class="fi fi-rs-star"></i>
              <i class="fi fi-rs-star"></i>
              <i class="fi fi-rs-star"></i>
              <i class="fi fi-rs-star"></i>
            </div>
            <div class="product__price flex">
              <span class="new__price">$238.85</span>
              <span class="old__price">$245.8</span>
            </div>
            <a href="#" class="action__btn cart__btn" aria-label="Add To Cart">
              <i class="fi fi-rs-shopping-bag-add"></i>
            </a>
          </div>
        </div>
        <div class="product__item">
          <div class="product__banner">
            <a href="details.html" class="product__images">
              <img
                src="assets/img/product-11-1.jpg"
                alt=""
                class="product__img default"
              />
              <img
                src="assets/img/product-11-2.jpg"
                alt=""
                class="product__img hover"
              />
            </a>
            <div class="product__actions">
              <a href="#" class="action__btn" aria-label="Quick View">
                <i class="fi fi-rs-eye"></i>
              </a>
              <a href="#" class="action__btn" aria-label="Add to Wishlist">
                <i class="fi fi-rs-heart"></i>
              </a>
              <a href="#" class="action__btn" aria-label="Compare">
                <i class="fi fi-rs-shuffle"></i>
              </a>
            </div>
            <div class="product__badge light-blue">-22%</div>
          </div>
          <div class="product__content">
            <span class="product__category">Clothing</span>
            <a href="details.html">
              <h3 class="product__title">Colorful Pattern Shirts</h3>
            </a>
            <div class="product__rating">
              <i class="fi fi-rs-star"></i>
              <i class="fi fi-rs-star"></i>
              <i class="fi fi-rs-star"></i>
              <i class="fi fi-rs-star"></i>
              <i class="fi fi-rs-star"></i>
            </div>
            <div class="product__price flex">
              <span class="new__price">$238.85</span>
              <span class="old__price">$245.8</span>
            </div>
            <a href="#" class="action__btn cart__btn" aria-label="Add To Cart">
              <i class="fi fi-rs-shopping-bag-add"></i>
            </a>
          </div>
        </div>
        <div class="product__item">
          <div class="product__banner">
            <a href="details.html" class="product__images">
              <img
                src="assets/img/product-7-1.jpg"
                alt=""
                class="product__img default"
              />
              <img
                src="assets/img/product-7-2.jpg"
                alt=""
                class="product__img hover"
              />
            </a>
            <div class="product__actions">
              <a href="#" class="action__btn" aria-label="Quick View">
                <i class="fi fi-rs-eye"></i>
              </a>
              <a href="#" class="action__btn" aria-label="Add to Wishlist">
                <i class="fi fi-rs-heart"></i>
              </a>
              <a href="#" class="action__btn" aria-label="Compare">
                <i class="fi fi-rs-shuffle"></i>
              </a>
            </div>
            <div class="product__badge light-green">-22%</div>
          </div>
          <div class="product__content">
            <span class="product__category">Clothing</span>
            <a href="details.html">
              <h3 class="product__title">Colorful Pattern Shirts</h3>
            </a>
            <div class="product__rating">
              <i class="fi fi-rs-star"></i>
              <i class="fi fi-rs-star"></i>
              <i class="fi fi-rs-star"></i>
              <i class="fi fi-rs-star"></i>
              <i class="fi fi-rs-star"></i>
            </div>
            <div class="product__price flex">
              <span class="new__price">$238.85</span>
              <span class="old__price">$245.8</span>
            </div>
            <a href="#" class="action__btn cart__btn" aria-label="Add To Cart">
              <i class="fi fi-rs-shopping-bag-add"></i>
            </a>
          </div>
        </div>
        <div class="product__item">
          <div class="product__banner">
            <a href="details.html" class="product__images">
              <img
                src="assets/img/product-8-1.jpg"
                alt=""
                class="product__img default"
              />
              <img
                src="assets/img/product-8-2.jpg"
                alt=""
                class="product__img hover"
              />
            </a>
            <div class="product__actions">
              <a href="#" class="action__btn" aria-label="Quick View">
                <i class="fi fi-rs-eye"></i>
              </a>
              <a href="#" class="action__btn" aria-label="Add to Wishlist">
                <i class="fi fi-rs-heart"></i>
              </a>
              <a href="#" class="action__btn" aria-label="Compare">
                <i class="fi fi-rs-shuffle"></i>
              </a>
            </div>
          </div>
          <div class="product__content">
            <span class="product__category">Clothing</span>
            <a href="details.html">
              <h3 class="product__title">Colorful Pattern Shirts</h3>
            </a>
            <div class="product__rating">
              <i class="fi fi-rs-star"></i>
              <i class="fi fi-rs-star"></i>
              <i class="fi fi-rs-star"></i>
              <i class="fi fi-rs-star"></i>
              <i class="fi fi-rs-star"></i>
            </div>
            <div class="product__price flex">
              <span class="new__price">$238.85</span>
              <span class="old__price">$245.8</span>
            </div>
            <a href="#" class="action__btn cart__btn" aria-label="Add To Cart">
              <i class="fi fi-rs-shopping-bag-add"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="tab__item" content id="new-added">
      <div class="products__container grid">
        <div class="product__item">
          <div class="product__banner">
            <a href="details.html" class="product__images">
              <img
                src="assets/img/product-1-1.jpg"
                alt=""
                class="product__img default"
              />
              <img
                src="assets/img/product-1-2.jpg"
                alt=""
                class="product__img hover"
              />
            </a>
            <div class="product__actions">
              <a href="#" class="action__btn" aria-label="Quick View">
                <i class="fi fi-rs-eye"></i>
              </a>
              <a href="#" class="action__btn" aria-label="Add to Wishlist">
                <i class="fi fi-rs-heart"></i>
              </a>
              <a href="#" class="action__btn" aria-label="Compare">
                <i class="fi fi-rs-shuffle"></i>
              </a>
            </div>
            <div class="product__badge light-pink">Hot</div>
          </div>
          <div class="product__content">
            <span class="product__category">Clothing</span>
            <a href="details.html">
              <h3 class="product__title">Colorful Pattern Shirts</h3>
            </a>
            <div class="product__rating">
              <i class="fi fi-rs-star"></i>
              <i class="fi fi-rs-star"></i>
              <i class="fi fi-rs-star"></i>
              <i class="fi fi-rs-star"></i>
              <i class="fi fi-rs-star"></i>
            </div>
            <div class="product__price flex">
              <span class="new__price">$238.85</span>
              <span class="old__price">$245.8</span>
            </div>
            <a href="#" class="action__btn cart__btn" aria-label="Add To Cart">
              <i class="fi fi-rs-shopping-bag-add"></i>
            </a>
          </div>
        </div>
        <div class="product__item">
          <div class="product__banner">
            <a href="details.html" class="product__images">
              <img
                src="assets/img/product-12-1.jpg"
                alt=""
                class="product__img default"
              />
              <img
                src="assets/img/product-12-2.jpg"
                alt=""
                class="product__img hover"
              />
            </a>
            <div class="product__actions">
              <a href="#" class="action__btn" aria-label="Quick View">
                <i class="fi fi-rs-eye"></i>
              </a>
              <a href="#" class="action__btn" aria-label="Add to Wishlist">
                <i class="fi fi-rs-heart"></i>
              </a>
              <a href="#" class="action__btn" aria-label="Compare">
                <i class="fi fi-rs-shuffle"></i>
              </a>
            </div>
            <div class="product__badge light-green">Hot</div>
          </div>
          <div class="product__content">
            <span class="product__category">Clothing</span>
            <a href="details.html">
              <h3 class="product__title">Colorful Pattern Shirts</h3>
            </a>
            <div class="product__rating">
              <i class="fi fi-rs-star"></i>
              <i class="fi fi-rs-star"></i>
              <i class="fi fi-rs-star"></i>
              <i class="fi fi-rs-star"></i>
              <i class="fi fi-rs-star"></i>
            </div>
            <div class="product__price flex">
              <span class="new__price">$238.85</span>
              <span class="old__price">$245.8</span>
            </div>
            <a href="#" class="action__btn cart__btn" aria-label="Add To Cart">
              <i class="fi fi-rs-shopping-bag-add"></i>
            </a>
          </div>
        </div>
        <div class="product__item">
          <div class="product__banner">
            <a href="details.html" class="product__images">
              <img
                src="assets/img/product-13-1.jpg"
                alt=""
                class="product__img default"
              />
              <img
                src="assets/img/product-13-2.jpg"
                alt=""
                class="product__img hover"
              />
            </a>
            <div class="product__actions">
              <a href="#" class="action__btn" aria-label="Quick View">
                <i class="fi fi-rs-eye"></i>
              </a>
              <a href="#" class="action__btn" aria-label="Add to Wishlist">
                <i class="fi fi-rs-heart"></i>
              </a>
              <a href="#" class="action__btn" aria-label="Compare">
                <i class="fi fi-rs-shuffle"></i>
              </a>
            </div>
            <div class="product__badge light-orange">Hot</div>
          </div>
          <div class="product__content">
            <span class="product__category">Clothing</span>
            <a href="details.html">
              <h3 class="product__title">Colorful Pattern Shirts</h3>
            </a>
            <div class="product__rating">
              <i class="fi fi-rs-star"></i>
              <i class="fi fi-rs-star"></i>
              <i class="fi fi-rs-star"></i>
              <i class="fi fi-rs-star"></i>
              <i class="fi fi-rs-star"></i>
            </div>
            <div class="product__price flex">
              <span class="new__price">$238.85</span>
              <span class="old__price">$245.8</span>
            </div>
            <a href="#" class="action__btn cart__btn" aria-label="Add To Cart">
              <i class="fi fi-rs-shopping-bag-add"></i>
            </a>
          </div>
        </div>
        <div class="product__item">
          <div class="product__banner">
            <a href="details.html" class="product__images">
              <img
                src="assets/img/product-4-1.jpg"
                alt=""
                class="product__img default"
              />
              <img
                src="assets/img/product-4-2.jpg"
                alt=""
                class="product__img hover"
              />
            </a>
            <div class="product__actions">
              <a href="#" class="action__btn" aria-label="Quick View">
                <i class="fi fi-rs-eye"></i>
              </a>
              <a href="#" class="action__btn" aria-label="Add to Wishlist">
                <i class="fi fi-rs-heart"></i>
              </a>
              <a href="#" class="action__btn" aria-label="Compare">
                <i class="fi fi-rs-shuffle"></i>
              </a>
            </div>
            <div class="product__badge light-blue">Hot</div>
          </div>
          <div class="product__content">
            <span class="product__category">Clothing</span>
            <a href="details.html">
              <h3 class="product__title">Colorful Pattern Shirts</h3>
            </a>
            <div class="product__rating">
              <i class="fi fi-rs-star"></i>
              <i class="fi fi-rs-star"></i>
              <i class="fi fi-rs-star"></i>
              <i class="fi fi-rs-star"></i>
              <i class="fi fi-rs-star"></i>
            </div>
            <div class="product__price flex">
              <span class="new__price">$238.85</span>
              <span class="old__price">$245.8</span>
            </div>
            <a href="#" class="action__btn cart__btn" aria-label="Add To Cart">
              <i class="fi fi-rs-shopping-bag-add"></i>
            </a>
          </div>
        </div>
        <div class="product__item">
          <div class="product__banner">
            <a href="details.html" class="product__images">
              <img
                src="assets/img/product-10-1.jpg"
                alt=""
                class="product__img default"
              />
              <img
                src="assets/img/product-10-2.jpg"
                alt=""
                class="product__img hover"
              />
            </a>
            <div class="product__actions">
              <a href="#" class="action__btn" aria-label="Quick View">
                <i class="fi fi-rs-eye"></i>
              </a>
              <a href="#" class="action__btn" aria-label="Add to Wishlist">
                <i class="fi fi-rs-heart"></i>
              </a>
              <a href="#" class="action__btn" aria-label="Compare">
                <i class="fi fi-rs-shuffle"></i>
              </a>
            </div>
            <div class="product__badge light-blue">-30%</div>
          </div>
          <div class="product__content">
            <span class="product__category">Clothing</span>
            <a href="details.html">
              <h3 class="product__title">Colorful Pattern Shirts</h3>
            </a>
            <div class="product__rating">
              <i class="fi fi-rs-star"></i>
              <i class="fi fi-rs-star"></i>
              <i class="fi fi-rs-star"></i>
              <i class="fi fi-rs-star"></i>
              <i class="fi fi-rs-star"></i>
            </div>
            <div class="product__price flex">
              <span class="new__price">$238.85</span>
              <span class="old__price">$245.8</span>
            </div>
            <a href="#" class="action__btn cart__btn" aria-label="Add To Cart">
              <i class="fi fi-rs-shopping-bag-add"></i>
            </a>
          </div>
        </div>
        <div class="product__item">
          <div class="product__banner">
            <a href="details.html" class="product__images">
              <img
                src="assets/img/product-6-1.jpg"
                alt=""
                class="product__img default"
              />
              <img
                src="assets/img/product-6-2.jpg"
                alt=""
                class="product__img hover"
              />
            </a>
            <div class="product__actions">
              <a href="#" class="action__btn" aria-label="Quick View">
                <i class="fi fi-rs-eye"></i>
              </a>
              <a href="#" class="action__btn" aria-label="Add to Wishlist">
                <i class="fi fi-rs-heart"></i>
              </a>
              <a href="#" class="action__btn" aria-label="Compare">
                <i class="fi fi-rs-shuffle"></i>
              </a>
            </div>
            <div class="product__badge light-blue">-22%</div>
          </div>
          <div class="product__content">
            <span class="product__category">Clothing</span>
            <a href="details.html">
              <h3 class="product__title">Colorful Pattern Shirts</h3>
            </a>
            <div class="product__rating">
              <i class="fi fi-rs-star"></i>
              <i class="fi fi-rs-star"></i>
              <i class="fi fi-rs-star"></i>
              <i class="fi fi-rs-star"></i>
              <i class="fi fi-rs-star"></i>
            </div>
            <div class="product__price flex">
              <span class="new__price">$238.85</span>
              <span class="old__price">$245.8</span>
            </div>
            <a href="#" class="action__btn cart__btn" aria-label="Add To Cart">
              <i class="fi fi-rs-shopping-bag-add"></i>
            </a>
          </div>
        </div>
        <div class="product__item">
          <div class="product__banner">
            <a href="details.html" class="product__images">
              <img
                src="assets/img/product-9-1.jpg"
                alt=""
                class="product__img default"
              />
              <img
                src="assets/img/product-9-2.jpg"
                alt=""
                class="product__img hover"
              />
            </a>
            <div class="product__actions">
              <a href="#" class="action__btn" aria-label="Quick View">
                <i class="fi fi-rs-eye"></i>
              </a>
              <a href="#" class="action__btn" aria-label="Add to Wishlist">
                <i class="fi fi-rs-heart"></i>
              </a>
              <a href="#" class="action__btn" aria-label="Compare">
                <i class="fi fi-rs-shuffle"></i>
              </a>
            </div>
            <div class="product__badge light-green">-22%</div>
          </div>
          <div class="product__content">
            <span class="product__category">Clothing</span>
            <a href="details.html">
              <h3 class="product__title">Colorful Pattern Shirts</h3>
            </a>
            <div class="product__rating">
              <i class="fi fi-rs-star"></i>
              <i class="fi fi-rs-star"></i>
              <i class="fi fi-rs-star"></i>
              <i class="fi fi-rs-star"></i>
              <i class="fi fi-rs-star"></i>
            </div>
            <div class="product__price flex">
              <span class="new__price">$238.85</span>
              <span class="old__price">$245.8</span>
            </div>
            <a href="#" class="action__btn cart__btn" aria-label="Add To Cart">
              <i class="fi fi-rs-shopping-bag-add"></i>
            </a>
          </div>
        </div>
        <div class="product__item">
          <div class="product__banner">
            <a href="details.html" class="product__images">
              <img
                src="assets/img/product-8-1.jpg"
                alt=""
                class="product__img default"
              />
              <img
                src="assets/img/product-8-2.jpg"
                alt=""
                class="product__img hover"
              />
            </a>
            <div class="product__actions">
              <a href="#" class="action__btn" aria-label="Quick View">
                <i class="fi fi-rs-eye"></i>
              </a>
              <a href="#" class="action__btn" aria-label="Add to Wishlist">
                <i class="fi fi-rs-heart"></i>
              </a>
              <a href="#" class="action__btn" aria-label="Compare">
                <i class="fi fi-rs-shuffle"></i>
              </a>
            </div>
          </div>
          <div class="product__content">
            <span class="product__category">Clothing</span>
            <a href="details.html">
              <h3 class="product__title">Colorful Pattern Shirts</h3>
            </a>
            <div class="product__rating">
              <i class="fi fi-rs-star"></i>
              <i class="fi fi-rs-star"></i>
              <i class="fi fi-rs-star"></i>
              <i class="fi fi-rs-star"></i>
              <i class="fi fi-rs-star"></i>
            </div>
            <div class="product__price flex">
              <span class="new__price">$238.85</span>
              <span class="old__price">$245.8</span>
            </div>
            <a href="#" class="action__btn cart__btn" aria-label="Add To Cart">
              <i class="fi fi-rs-shopping-bag-add"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
