
<!--=============== PRODUCTS ===============-->
<section class="products container section--lg">
  <p class="total__products">We found <span>{{ products.count }}</span> items for you!</p>
  <div class="products__container grid">
    {% for product in products %}
      <div class="product__item">
        <div class="product__banner">
          <a href="{% url 'dashboard' %}" class="product__images">
            <img
              src="{{ product.image.url }}"
              alt=""
              class="product__img default"
            />
          </a>
          <div class="product__actions">
            <a href="#" class="action__btn" aria-label="Quick View">
              <i class="fi fi-rs-eye"></i>
            </a>
            <a href="#" class="action__btn" aria-label="Add to Wishlist">
              <i class="fi fi-rs-heart"></i>
            </a>
            <a href="#" class="action__btn" aria-label="Compare">
              <i class="fi fi-rs-shuffle"></i>
            </a>
          </div>
          {% if product.discount > 0 %}
          <div class="product__badge light-pink">{{ product.discount }}%</div>
          {% endif %}
        </div>
        <div class="product__content">
          <span class="product__category">{{ product.category.name }}</span>
          <a href="details.html">
            <h3 class="product__title">{{ product.name }}</h3>
          </a>
          <div class="product__rating">
            <i class="fi fi-rs-star"></i>
            <i class="fi fi-rs-star"></i>
            <i class="fi fi-rs-star"></i>
            <i class="fi fi-rs-star"></i>
            <i class="fi fi-rs-star"></i>
          </div>
          <div class="product__price flex">
            {% if product.discount > 0 %}
            <span class="new__price">{{ product.discount_price }}</span>
            <span class="old__price">{{ product.price }}</span>
            {% else %}
            <span class="new__price">{{ product.price }}</span>
            {% endif %}
          </div>
          <a href="{% url 'add_to_cart' product.id %}"
            class="action__btn cart__btn"
            aria-label="Add To Cart"
            data-product-id="{{ product.id }}">
              <i class="fi fi-rs-shopping-bag-add"></i>
          </a>
        </div>
      </div>
    {% endfor %}
  </div>
  <ul class="pagination">
    {% if products.has_previous %}
    <li><a href="?page={{products.previous_page_number}}" class="pagination__link"><</a></li>
    {% endif %}

    {% for page in products.paginator.page_range %}
      <li><a href="?page={{ page }}" class="pagination__link {% if products.number == page %}active{% endif %}">{{ page }}</a></li>
    {% endfor %}

    {% if products.has_next %}
    <li><a href="?page={{products.next_page_number}}" class="pagination__link">></a></li>
    {% endif %}

  </ul>
</section>

<script>
document.querySelectorAll('.cart__btn').forEach(btn => {
    btn.addEventListener('click', function(e) {
        e.preventDefault();

        const productId = this.getAttribute('data-product-id');

        fetch(`/cart/add/${productId}`, {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json',
            },
        })
        .then(response => response.json())
        .then(data => {
            console.log("Savatchaga qo'shildi:", data);
            let count_btn = document.getElementById('cart_count');
            count_btn.textContent = data['cart_count'];
            this.classList.add('added');
            setTimeout(() => this.classList.remove('added'), 1000);
        })
        .catch(error => {
            console.error('Xatolik yuz berdi:', error);
        });
    });
});
</script>
