<section class="showcase section">
  <div class="showcase__container container grid">
    <div class="showcase__wrapper">
      <h3 class="section__title">Hot Releases</h3>
      <div class="showcase__item">
        <a href="details.html" class="showcase__img-box">
          <img
            src="./assets/img/showcase-img-1.jpg"
            alt=""
            class="showcase__img"
          />
        </a>
        <div class="showcase__content">
          <a href="details.html">
            <h4 class="showcase__title">Floral Print Casual Cotton Dress</h4>
          </a>
          <div class="showcase__price flex">
            <span class="new__price">$238.85</span>
            <span class="old__price">$245.8</span>
          </div>
        </div>
      </div>
      <div class="showcase__item">
        <a href="details.html" class="showcase__img-box">
          <img
            src="./assets/img/showcase-img-2.jpg"
            alt=""
            class="showcase__img"
          />
        </a>
        <div class="showcase__content">
          <a href="details.html">
            <h4 class="showcase__title">Ruffled Solid Long Sleeve Blouse</h4>
          </a>
          <div class="showcase__price flex">
            <span class="new__price">$238.85</span>
            <span class="old__price">$245.8</span>
          </div>
        </div>
      </div>
      <div class="showcase__item">
        <a href="details.html" class="showcase__img-box">
          <img
            src="./assets/img/showcase-img-3.jpg"
            alt=""
            class="showcase__img"
          />
        </a>
        <div class="showcase__content">
          <a href="details.html">
            <h4 class="showcase__title">Multi-Color Print V-neck T-shirt</h4>
          </a>
          <div class="showcase__price flex">
            <span class="new__price">$238.85</span>
            <span class="old__price">$245.8</span>
          </div>
        </div>
      </div>
    </div>
    <div class="showcase__wrapper">
      <h3 class="section__title">Deals & Outlet</h3>
      <div class="showcase__item">
        <a href="details.html" class="showcase__img-box">
          <img
            src="./assets/img/showcase-img-4.jpg"
            alt=""
            class="showcase__img"
          />
        </a>
        <div class="showcase__content">
          <a href="details.html">
            <h4 class="showcase__title">Fish Print Patched T-shirt</h4>
          </a>
          <div class="showcase__price flex">
            <span class="new__price">$238.85</span>
            <span class="old__price">$245.8</span>
          </div>
        </div>
      </div>
      <div class="showcase__item">
        <a href="details.html" class="showcase__img-box">
          <img
            src="./assets/img/showcase-img-5.jpg"
            alt=""
            class="showcase__img"
          />
        </a>
        <div class="showcase__content">
          <a href="details.html">
            <h4 class="showcase__title">Fintage Floral Print Dress</h4>
          </a>
          <div class="showcase__price flex">
            <span class="new__price">$238.85</span>
            <span class="old__price">$245.8</span>
          </div>
        </div>
      </div>
      <div class="showcase__item">
        <a href="details.html" class="showcase__img-box">
          <img
            src="./assets/img/showcase-img-6.jpg"
            alt=""
            class="showcase__img"
          />
        </a>
        <div class="showcase__content">
          <a href="details.html">
            <h4 class="showcase__title">Multi-Color Stripe Circle T-shirt</h4>
          </a>
          <div class="showcase__price flex">
            <span class="new__price">$238.85</span>
            <span class="old__price">$245.8</span>
          </div>
        </div>
      </div>
    </div>
    <div class="showcase__wrapper">
      <h3 class="section__title">Top Selling</h3>
      <div class="showcase__item">
        <a href="details.html" class="showcase__img-box">
          <img
            src="./assets/img/showcase-img-7.jpg"
            alt=""
            class="showcase__img"
          />
        </a>
        <div class="showcase__content">
          <a href="details.html">
            <h4 class="showcase__title">
              Geometric Printed Long Sleeve Blouse
            </h4>
          </a>
          <div class="showcase__price flex">
            <span class="new__price">$238.85</span>
            <span class="old__price">$245.8</span>
          </div>
        </div>
      </div>
      <div class="showcase__item">
        <a href="details.html" class="showcase__img-box">
          <img
            src="./assets/img/showcase-img-8.jpg"
            alt=""
            class="showcase__img"
          />
        </a>
        <div class="showcase__content">
          <a href="details.html">
            <h4 class="showcase__title">Print Patchwork Maxi Dress</h4>
          </a>
          <div class="showcase__price flex">
            <span class="new__price">$238.85</span>
            <span class="old__price">$245.8</span>
          </div>
        </div>
      </div>
      <div class="showcase__item">
        <a href="details.html" class="showcase__img-box">
          <img
            src="./assets/img/showcase-img-9.jpg"
            alt=""
            class="showcase__img"
          />
        </a>
        <div class="showcase__content">
          <a href="details.html">
            <h4 class="showcase__title">Daisy Floral Print Straps Jumpsuit</h4>
          </a>
          <div class="showcase__price flex">
            <span class="new__price">$238.85</span>
            <span class="old__price">$245.8</span>
          </div>
        </div>
      </div>
    </div>
    <div class="showcase__wrapper">
      <h3 class="section__title">Trendy</h3>
      <div class="showcase__item">
        <a href="details.html" class="showcase__img-box">
          <img
            src="./assets/img/showcase-img-7.jpg"
            alt=""
            class="showcase__img"
          />
        </a>
        <div class="showcase__content">
          <a href="details.html">
            <h4 class="showcase__title">Floral Print Casual Cotton</h4>
          </a>
          <div class="showcase__price flex">
            <span class="new__price">$238.85</span>
            <span class="old__price">$245.8</span>
          </div>
        </div>
      </div>
      <div class="showcase__item">
        <a href="details.html" class="showcase__img-box">
          <img
            src="./assets/img/showcase-img-8.jpg"
            alt=""
            class="showcase__img"
          />
        </a>
        <div class="showcase__content">
          <a href="details.html">
            <h4 class="showcase__title">Ruffled Solid Long Sleeve</h4>
          </a>
          <div class="showcase__price flex">
            <span class="new__price">$238.85</span>
            <span class="old__price">$245.8</span>
          </div>
        </div>
      </div>
      <div class="showcase__item">
        <a href="details.html" class="showcase__img-box">
          <img
            src="./assets/img/showcase-img-9.jpg"
            alt=""
            class="showcase__img"
          />
        </a>
        <div class="showcase__content">
          <a href="details.html">
            <h4 class="showcase__title">Multi-Color Print V-neck</h4>
          </a>
          <div class="showcase__price flex">
            <span class="new__price">$238.85</span>
            <span class="old__price">$245.8</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
